{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}

       <div class="row">
           <div class="col-md-12">
        <div class="card">
          <h2 class="card-title">Tell me about yourself </h2>
            </br>
            <h4> A Simple Formula for Answering “Tell Me About Yourself” </h4>

            <ul>

                <li>Present: Talk a little bit about what your current role is, the scope of it, and perhaps a big recent accomplishment.
                </li>
                <li>
                   Past: Tell the interviewer how you got there and/or mention previous experience that’s relevant to the job and company you’re applying for.
                </li>
                <li>
                    Future: Segue into what you’re looking to do next and why you’re interested in this gig (and a great fit for it, too).
                </li>
            </ul>
             </br>
            This isn’t the only way to build your response, of course, and you can tweak it as you see fit. If there’s a particularly potent story about what brought you into this field, for example, you might decide to start with that “past” story and then get into what you’re doing in the present.
            Whatever order you pick, make sure you ultimately tie it to the job and company.

            </br>
            “A good place to end it is to give a transition of this is why I’m here,” Dea says. You want to be absolutely certain your interviewer is left with the impression that it “makes sense that [you’re] sitting here talking to me about this role.”
        </div>
           </div>
       </div>

    <div class="row">

      <div class="col-md-6">
        <div class="card">
            <!-- <img src = "https://media.istockphoto.com/vectors/young-man-and-woman-make-video-call-through-computer-vector-id1258168107?k=6&m=1258168107&s=612x612&w=0&h=eJjkpff02mNa8GijJXC0gKeYi5ZZVB_5rVKB01WbXNs=" />
             --->
           Choose your options here
            <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button id="b1" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"  >
                            <img src="../../static/assets/img/yann.jpg" class="rounded-circle" width="60px">  <h6> Yann LeCun </h6>
                        </button>
                      </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
<!--                       <iframe width="100%" height="426px" src="https://www.youtube.com/embed/NnIOHDW8DMM?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>-->
<!--                       </iframe>-->


                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Collapsible Group Item #2
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Collapsible Group Item #3
                        </button>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>

      <div class="col-md-6">

          <div class="app">

              <div class = "card">
                  <span id="video_text">
                      <iframe width="100%" height="426px" src="https://www.youtube.com/embed/NnIOHDW8DMM?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                  </iframe>

                  </span>

        <!-- <h3>Add New Note</h3> -->
        <!-- <div class="input-single"></div> -->
        <p className="element" id="replace-me">Your input will appear here</p>
        <!-- <p id="note-textarea">Your input will appear here</p> -->
        <button id="start-record-btn" title="Start Recording" style = "width:30%;" type="button" class="btn btn-primary">
          Start Recording
        </button>
        <button id="pause-record-btn" title="Pause Recording" style = "width:30%;" type="button" class="btn btn-primary">
          Pause Recording
        </button>
        <!-- <button id="save-note-btn" title="Save Note">Save Note</button> -->
        <p id="recording-instructions">
          Press the <strong>Start Recognition</strong> button and allow access.
        </p>

        <!-- <h3>My Notes</h3>
        <ul id="notes">
          <li>
            <p class="no-notes">You don't have any notes.</p>
          </li>
        </ul> -->
      </div>
      </div>
    </div>
        </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}



{% endblock javascripts %}
