{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <video width="100%" height="100%" controls>
        <source
          src="https://r2---sn-a5mlrnes.c.drive.google.com/videoplayback?expire=1618738426&ei=usR7YPrRLaDuj-8Pl4yj8Ag&ip=2603:8000:b93c:8600:21e9:dae:3066:7aad&cp=QVRGWkhfV1RQR1hPOkFpTnlZZ2hJZ0VFM0EyTjBLSEUtTkM5UVhoY3J2eEpjdW8wV0hyU0tGcTk&id=f7a63c91612d8aa1&itag=22&source=webdrive&requiressl=yes&mh=R1&mm=32&mn=sn-a5mlrnes&ms=su&mv=m&mvi=2&pl=36&ttl=transient&susc=dr&driveid=1bP2dROqGUPZWFeWW30KiVqND2pn3_H8Q&app=explorer&mime=video/mp4&vprv=1&prv=1&dur=16.764&lmt=1618703299630410&mt=1618723697&sparams=expire,ei,ip,cp,id,itag,source,requiressl,ttl,susc,driveid,app,mime,vprv,prv,dur,lmt&sig=AOq0QJ8wRgIhAIfbwgOTik-aDMU_IVZS_xv_1S-Kx8lJphJlp1ooixs2AiEA7YUaSxExx95aIVCTiSNZzOQCY2f6ukX07TFhp83GAXE=&lsparams=mh,mm,mn,ms,mv,mvi,pl&lsig=AG3C_xAwRQIgWX36G_O0v2QXXOHzo7_YR-hIVQS3ytXUNYosrN5i3xwCIQCN-b9fkCyEvWqC2ThfxC_Eev8G4TIMPEduZXtxMIZEFQ==&cpn=XAa_LL_NeQwSCLF7&c=WEB_EMBEDDED_PLAYER&cver=1.20210414.1.0"
          type="video/mp4"
        />
      </video>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <!-- <img src = "https://media.istockphoto.com/vectors/young-man-and-woman-make-video-call-through-computer-vector-id1258168107?k=6&m=1258168107&s=612x612&w=0&h=eJjkpff02mNa8GijJXC0gKeYi5ZZVB_5rVKB01WbXNs=" />
             --->
      Choose options here
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <!-- Record your audio here -->
    <!-- <audio controls>
              <source src="horse.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio> -->
  </div>
</div>
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



    <div class="row">
      <div class="col-md-6">
        <div class="card">
            <h2 class="card-title">Tell me about yourself </h2>
            </br>
            <h4> A Simple Formula for Answering “Tell Me About Yourself” </h4>

            <ul>

                <li>Present: Talk a little bit about what your current role is, the scope of it, and perhaps a big recent accomplishment.
                </li>
                <li>
                   Past: Tell the interviewer how you got there and/or mention previous experience that’s relevant to the job and company you’re applying for.
                </li>
                <li>
                    Future: Segue into what you’re looking to do next and why you’re interested in this gig (and a great fit for it, too).
                </li>
            </ul>
             </br>
            This isn’t the only way to build your response, of course, and you can tweak it as you see fit. If there’s a particularly potent story about what brought you into this field, for example, you might decide to start with that “past” story and then get into what you’re doing in the present.
             </br>
            </br>
            Whatever order you pick, make sure you ultimately tie it to the job and company.
            </br>
            </br>
            “A good place to end it is to give a transition of this is why I’m here,” Dea says. You want to be absolutely certain your interviewer is left with the impression that it “makes sense that [you’re] sitting here talking to me about this role.”

      </div>
      </div>
      <div class="col-md-6">
        <div class="card">
            <!-- <img src = "https://media.istockphoto.com/vectors/young-man-and-woman-make-video-call-through-computer-vector-id1258168107?k=6&m=1258168107&s=612x612&w=0&h=eJjkpff02mNa8GijJXC0gKeYi5ZZVB_5rVKB01WbXNs=" />
             --->
           Choose your options here
            <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <img src="../../static/assets/img/yann.jpg" class="rounded-circle" width="60px">  <h6> Yann LeCun </h6>
                        </button>
                      </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                       <iframe width="100%" height="426px" src="https://www.youtube.com/embed/NnIOHDW8DMM?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                       </iframe>


                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Collapsible Group Item #2
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Collapsible Group Item #3
                        </button>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        Record your audio here

      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %} {% endblock javascripts %}
